header {
    background-color: #122538;
    color: white;
    margin: 0;
    font-size: 10pt;
}

.top-banner {
    margin: 0;
    background-color: #FFFEC6;
    display: flex;
    justify-content: center;
}

.header-main {
    height: 100px;
}
