.person {
    display: flex;
    justify-content: space-between;
    height: 40px;
    /*flex-grow: 1;*/
}

li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

ul {
    margin: 0px;
}

.delete {
    background-color: orangered;
    height: 31px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: white;
    font-size: 20px;
    border: none;
}
