.forUser {
  height: 300px;
  width: 300px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: lavender;
  line-height: 30px;
}

.forForm {
  margin-top: 15px;
  margin-left: 15px;
  line-height: 30px;
}

button {
  background-color: olive;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 10px;
}

input {
  width: 100px;

}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}