.details {
    background-color: darkslateblue;
    height: 25px;
    border-radius: 5px;
    width: 70px;
    text-decoration: none;
    margin: 5px;
    border: 0px;
    color: white;
}


.films {
    background-color: darkgreen;
    height: 25px;
    border-radius: 5px;
    width: 100px;
    text-decoration: none;
    margin: 5px;
    border: 0px;
    color: white;
}

.delete {
    background-color: orangered;
    height: 25px;
    border-radius: 5px;
    width: 70px;
    text-decoration: none;
    margin: 5px;
    border: 0px;
    color: white;
}