.details {
    background-color: darkslateblue;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: white;
}


.films {
    background-color: darkgreen;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: white;
}

.delete {
    background-color: orangered;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: white;
}

.homeworld {
    background-color: darkseagreen;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: white;
}