.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
}

img{
    cursor: pointer;
}

.catalog {
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    height: 40px;
    margin-left: 10px;
}

.catalog:hover{
    background-color: #4E5C6A;
    transition: 0.6s;
    border-radius: 2px;
    cursor: pointer;
}

.catalog span {
    padding-top: 7px;
    padding-right: 5px;
}

.catalog img {
    align-self: center;
}

.left-icons {
    height: 55px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: 200px;

}

.icons div:last-child {
    padding-right: 10px;
}

.search {
    width: 800px;
    margin-right: 10px;
}

.form-poisk {
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

input {
    width: 90%;
    height: 40px;
    border: none;
    padding: 0 40px;
    margin-left: 10px;
    border-radius: 3px 0 0 3px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/30-hardware-line-icons/64/Search-128.png") ;
    background-size: contain;
    background-repeat: no-repeat;
}

input:focus {
    outline:0;
}

.finder {
    padding-bottom: 5px;
    height: 40px;
    background-color: #00A046;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 13pt;
    color: white;
    width: 80px;
    box-sizing: border-box;

}

.finder:hover{
    background-color: #00bc52;
    transition: 0.6s;
    cursor: pointer;
}

.finder:focus {
    outline:0;
}

.try {
    font-size: 8pt;
    color: #C7C8C9;
    height: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 20px;
}

.premium {
    border-radius: 5px;
}

.try:hover{
    text-decoration: underline red;
    background-color: #4E5C6A;
    transition: 0.6s;
    border-radius: 2px;
    cursor: pointer;
}

.try div:first-child{
    padding-bottom: 5px;
}

.popup {
    visibility: hidden;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 7px;
    height: 150px;
    width: 530px;
    position: fixed;
    top: 90px;
    box-shadow: 0.4em 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #122538;
    opacity: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 30px 30px;
    box-sizing: border-box;
    align-items: center;
}

.popup #div-one{
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 15px;
}


.popup #div-two{
    font-weight: 400;
    font-size: 18pt;
    margin-bottom: 15px;
    width: 400px;
}

.popup #div-three{
    width: 400px;
}

.icon-pop:hover .popup {
    visibility: visible;
    top: 117px;
    right: 150px;
    transition: 0.5s;
    opacity: 1;
}

.popup2 {
    visibility: hidden;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 7px;
    top: 90px;
    height: 180px;
    width: 320px;
    position: fixed;
    box-shadow: 0.4em 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #122538;
    opacity: 0;
    z-index: 99;
}

.try:hover .popup2 {
    visibility: visible;
    top: 117px;
    right: 200px;
    transition: 0.5s;
    opacity: 1;
}

.btn-premium {
    background-color: #00A046;
    padding: 0;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 13pt;
    color: white;
    width: 140px;
    box-sizing: border-box;
    margin-top: 15px;
}

.btn-premium:hover{
    background-color: #00bc52;
    transition: 0.6s;
    cursor: pointer;
}

.btn-premium:focus {
    outline:0;
}

.premium-pop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#div20 {
    background-color: red;
    position: relative;
    bottom: 60px;
    left: 30px;
    width: 17px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

#div21 {
    background-color: red;
    position: relative;
    bottom: 60px;
    left: 30px;
    width: 17px;
    border-radius: 10px;
    text-align: center;
}

.oformi {
    background-color: #00A046;
    padding: 0;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 13pt;
    color: white;
    width: 250px;
    box-sizing: border-box;
    margin-top: 15px;
}

.oformi:hover{
    background-color: #00bc52;
    transition: 0.6s;
    cursor: pointer;
}

.popup3 {
    visibility: hidden;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 7px;
    height: max-content;
    width: 300px;
    position: fixed;
    top: 90px;
    box-shadow: 0.4em 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #122538;
    opacity: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 15px 22px 15px;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
}

.icon-pop:hover .popup3 {
    visibility: visible;
    top: 117px;
    right: 150px;
    transition: 0.5s;
    opacity: 1;
}

#div-four {
    color: #3e77aa;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}


#div-four:hover {
    cursor: pointer;
    text-decoration: underline red;
    transition: 0.5s;
    color: red;
}

.popup6 {
    visibility: hidden;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 7px;
    height: max-content;
    width: 1000px;
    position: absolute;
    top: 90px;
    box-shadow: 0.4em 0.4em 0.4em 5px rgba(122,122,122,0.5);
    color: #122538;
    opacity: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 30px 30px;
    box-sizing: border-box;
    align-items: center;

}

.catalog:hover .popup6 {
    visibility: visible;
    transition: 0.5s;
    left: 130px;
    top: 102px;
    opacity: 1;
    font-weight: 400;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popup7 {
    visibility: visible;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 7px;
    height: max-content;
    width: 1000px;
    position: absolute;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
    color: #122538;
    opacity: 1;
    z-index: 99;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 30px 30px;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s;
    left: 130px;
    top: 102px;
}
