.main-content {
    width: calc(100% - 620px);
    height: 1000px;
    background-color: white;
    padding-left: 35px;
    border-left: 1px solid #E9E9E9;
}

.tolko {
    font-size: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tolko img {
    height: 27px;
    width: auto;
}