.main-content {
    width: calc(100% - 620px);
    height: max-content;
    background-color: white;
    border-left: 1px solid #E9E9E9;
    padding-left: 20px;
}

.content {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.content img {
    max-height: 25px;
    max-width: 25px;
    margin-right: 15px;
}

#eye {
    max-height: 20px;
}

.tovary {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.div-img {
    display: flex;
    align-items: center;
}